.highlight {
    background-color: grey;
    color: blue;
}

#results {
    width: 356px;
    border: 1px solid black;
    margin-top: -2px;
}

.country {
    padding: 5px;
}

input {
    width: 350px;
}
