body {
    background-color: #191414;
    color: #ffffff;
    font: 14px/19px "Helvetica", "Arial", sans-serif;
}

.results-for {
    font-size: 25px;
    font-weight: bold;
    padding-top: 25px 0;
}

.artist-img {
    align-self: center;
    border-radius: 50%;
    height: 160px;
    width: 160px;
}

.artist-card {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    /* align-items: center; */
    margin: 10px;
    height: 180px;
    width: 600px;
    background-color: #222326;
    text-decoration: none;
    color: #ffffff;
}

.show-more {
    display: none;
}

.show {
    display: block;
}

/* #name {
} */
