body {
    margin: 0;
    padding: 0;
}

#ticker {
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px black solid;
    height: 2em;
    line-height: 2em;
    overflow: hidden;
}

.headlines {
    white-space: nowrap;
    position: absolute;
    left: 80%;
    padding-top: 5px;
}

.headlines a {
    padding: 0 15px;
    text-decoration: none;
}

.headlines a:hover {
    color: blue;
    text-decoration: underline;
}
