body {
    margin: 0;
    padding: 0;
}

#ticker {
    padding: 10px 0;
    overflow: hidden;
    position: relative;
    height: 1.4em;
    border-bottom: 1px solid black;
}

#headlines {
    white-space: nowrap;
    position: absolute;
    left: 100%;
    padding-top: 5px;
}

#headlines a {
    padding: 0 15px;
    text-decoration: none;
}
