#container {
    display: flex;
}

#container > div {
    margin: 2px;
    width: 200px;
    height: 200px;
    display: flex;
}

.inner-box {
    width: 100px;
    height: 100px;
    background-color: blue;
}

#box1 {
    /* transform: rotate(90deg); */
    background-color: grey;
    flex-direction: column;
}

#box2 {
    /* transform: rotate(180deg); */
    background-color: black;
    flex-direction: column-reverse;
}

#box3 {
    /* transform: rotate(270deg); */
    background-color: blue;
}

#box4 {
    background-color: purple;
}

#orange {
    background-color: orange;
    align-self: flex-end;
}

#yellow {
    background-color: yellow;
    align-self: flex-end;
}

#pink {
    background-color: pink;
}

#green {
    align-self: flex-end;

    background-color: green;
}
