<div class="nav">
    <p><a href="/">HOME</a></p>
    {{>nav path=selectedProject.path}}
</div>
<div class="project-disc">
    <span class="project-name">{{selectedProject.name}}</span>
    <img class="desc-img" src="{{selectedProject.path}}/screenshot.png">
    <p class="project-text">{{selectedProject.description}}</p>

    <a class="project-link" href="{{selectedProject.path}}" target="_blank">Go to the project</a>
</div>